name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    
    outputs:
      url: ${{ steps.foo.outputs.url }}
    
    steps:
      - uses: actions/checkout@v2
      - name: pip
        run: pip3 install -r requirements.txt
      - id: foo
        name: foo
        run: python3 foo.py
  
  job2:
    runs-on: windows-latest

    needs: job1

    steps:
      - uses: actions/checkout@v2
      - name: download chrome installer
        run: Invoke-WebRequest -Uri ${{needs.job1.outputs.url}} -OutFile .\$GITHUB_WORKSPACE\chrome_installer.exe
      - name: run chrome installer
        run: .\$GITHUB_WORKSPACE\chrome_installer.exe --verbose-logging --do-not-launch-chrome
